In [1]:
import pandas as pd
import numpy as np
import re
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
from google.cloud import bigquery
import os
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = '/Users/gikok/code/ingka-search-modelling-dev-3a2a4f44d9c5.json'
import time

In [ ]:
client = bigquery.Client()
query = """
# Retrieves all events with click actions (event_action = select_content),their queries, resulting products, and number of queries resulting in specific product
# Retrieves all events with click actions (event_action = select_content),their queries, and resulting products for the first PLP

WITH session_target AS (
  SELECT
    hit_sequence_number,
    event_category,
    event_action,
    session_id,
    page_url_query_parameter,
    next_page_url,
    SPLIT(REGEXP_EXTRACT(page_url_query_parameter, r'\?q=(\w.+)+'), '&')[SAFE_OFFSET(0)] AS clean_query,
    ARRAY_REVERSE(SPLIT(next_page_url,'/'))[SAFE_OFFSET(0)] AS target_product,
    ARRAY_REVERSE(SPLIT(ARRAY_REVERSE(SPLIT(next_page_url,'/'))[SAFE_OFFSET(0)], '-'))[SAFE_OFFSET(0)] AS target_product_id,
  FROM
    ingka-web-analytics-prod.web_data_v2.hits_events_and_pages
  WHERE
    ( date_hit BETWEEN DATE_SUB(CURRENT_DATE(), INTERVAL 365 DAY) AND CURRENT_DATE()
      AND website_market_short = 'gb'
      AND event_category = 'engagement'
      AND event_action = 'select_content'
      AND page_url_query_parameter IS NOT NULL) 
      

)
SELECT distinct target_product_id FROM session_target
  WHERE
    clean_query IS NOT NULL
    AND REGEXP_CONTAINS(target_product, r'[0-9A-Za-z]*[\d]')--target_product_id NOT IN ('products', 'en', 'Site Exit', 'gallery', 'shoppingcart', 'latest', 'search', 'login') -- prevent the target_product to become one of these 'next_pages'
"""
n = client.query(query).to_dataframe()

In [ ]:
client = bigquery.Client()
query = """
# Retrieves all events with click actions (event_action = select_content),their queries, resulting products, and number of queries resulting in specific product
# Retrieves all events with click actions (event_action = select_content),their queries, and resulting products for the first PLP

WITH session_target AS (
  SELECT
    hit_sequence_number,
    event_category,
    event_action,
    session_id,
    page_url_query_parameter,
    next_page_url,
    SPLIT(REGEXP_EXTRACT(page_url_query_parameter, r'\?q=(\w.+)+'), '&')[SAFE_OFFSET(0)] AS clean_query,
    ARRAY_REVERSE(SPLIT(next_page_url,'/'))[SAFE_OFFSET(0)] AS target_product,
    ARRAY_REVERSE(SPLIT(ARRAY_REVERSE(SPLIT(next_page_url,'/'))[SAFE_OFFSET(0)], '-'))[SAFE_OFFSET(0)] AS target_product_id,
  FROM
    ingka-web-analytics-prod.web_data_v2.hits_events_and_pages
  WHERE
    ( date_hit BETWEEN DATE_SUB(CURRENT_DATE(), INTERVAL 365 DAY) AND CURRENT_DATE()
      AND website_market_short = 'gb'
      AND event_category = 'engagement'
      AND event_action = 'select_content'
      AND page_url_query_parameter IS NOT NULL) 

),
clean_query_product AS (
  SELECT
    session_id,
    clean_query,
    REGEXP_REPLACE(target_product, r'-', ' ') AS target_product,
    target_product_id,
    COUNT(*) AS query_n_resulting_product
  FROM
    session_target
  WHERE
    clean_query IS NOT NULL
    AND REGEXP_CONTAINS(target_product, r'[0-9A-Za-z]*[\d]')--target_product_id NOT IN ('products', 'en', 'Site Exit', 'gallery', 'shoppingcart', 'latest', 'search', 'login') -- prevent the target_product to become one of these 'next_pages'
  GROUP BY
    clean_query,
    target_product_id,
    target_product,
    session_id
  ORDER BY
    clean_query
)

SELECT 
  clean_query, 
  ARRAY_AGG(target_product_id IGNORE NULLS order by query_n_resulting_product desc) as term_frequency_ranking
FROM clean_query_product 
GROUP BY clean_query

"""
r = client.query(query).to_dataframe()

In [ ]:
r['rank_1'] = r['term_frequency_ranking'].apply(lambda x: re.sub("[^0-9]", "",list(x)[0]).zfill(8))
r['rank_2'] = r['term_frequency_ranking'].apply(lambda x: re.sub("[^0-9]", "",list(x)[1]).zfill(8) if len(list(x))>1 else None)
r['rank_3'] = r['term_frequency_ranking'].apply(lambda x: re.sub("[^0-9]", "",list(x)[2]).zfill(8) if len(list(x))>2 else None)
r['rank_4'] = r['term_frequency_ranking'].apply(lambda x: re.sub("[^0-9]", "",list(x)[3]).zfill(8) if len(list(x))>3 else None)
r['rank_5'] = r['term_frequency_ranking'].apply(lambda x: re.sub("[^0-9]", "",list(x)[4]).zfill(8) if len(list(x))>4 else None)
r['rank_6'] = r['term_frequency_ranking'].apply(lambda x: re.sub("[^0-9]", "",list(x)[5]).zfill(8) if len(list(x))>5 else None)
r['rank_7'] = r['term_frequency_ranking'].apply(lambda x: re.sub("[^0-9]", "",list(x)[6]).zfill(8) if len(list(x))>6 else None)
r['rank_8'] = r['term_frequency_ranking'].apply(lambda x: re.sub("[^0-9]", "",list(x)[7]).zfill(8) if len(list(x))>7 else None)
r['rank_9'] = r['term_frequency_ranking'].apply(lambda x: re.sub("[^0-9]", "",list(x)[8]).zfill(8) if len(list(x))>8 else None)
r['rank_10'] = r['term_frequency_ranking'].apply(lambda x: re.sub("[^0-9]", "",list(x)[9]).zfill(8) if len(list(x))>9 else None)
r.drop(labels='term_frequency_ranking', axis=1, inplace=True)
r['clean_query'] = r['clean_query'].apply(lambda x: x.replace('%20', ' '))
r['clean_query'] = r['clean_query'].apply(lambda x: x.replace('+', ' '))
r

In [ ]:
r.to_hdf('year_queries.hdf5', index=False, key='year_queries')

In [2]:
queries = pd.read_hdf('year_queries.hdf5')
queries

,clean_query,rank_1,rank_2,rank_3,rank_4,rank_5,rank_6,rank_7,rank_8,rank_9,rank_10
0,varira,90226052,60136623,80182237,80182237,30155019,30155019,60136623,00238865,30155019,30155019
1,ryet e27,20438707,50447989,10438722,50447989,10438722,20438707,50517939,80517928,50517939,50517939
2,metod larder,09327980,69386740,60212565,09322930,39403171,29354246,39462146,79334840,99402847,10212563
3,bÄ™dzie grane,59268879,None,None,None,None,None,None,None,None,None
4,entertainment storage,59440610,09440679,59440610,10429973,09440679,59440610,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...
1822589,baby%27s breath,70335721,70335721,70335721,70335721,70335721,70335721,70335721,70335721,70335721,70335721
1822590,idanas standard king,09390090,20458917,29390070,50458888,20458917,20458917,20458917,89390091,20458917,19488048
1822591,veddinge panel,80220994,80220994,80220994,80220994,80220994,80220994,80220994,90297884,30220996,80220994
1822592,bench,10334753,10341032,49276629,69276567,60485339,10341032,30297957,90401499,80433542,99408566
1822593,hol,70161320,70161320,70161320,50161321,70161320,50161321,70161320,70161320,50161321,50161321

In [ ]:
df = pd.read_csv('descriptions.csv')
df

In [ ]:
df['item_no'] = df['id'].apply(lambda x: re.sub("[^0-9]", "",x.split(",")[1]).zfill(8))
df

In [ ]:
new_df = df[['item_no']+list(df.columns[1:-1])]
new_df

In [ ]:
new_df.to_hdf('all_en_descriptions.hdf5', key='all')

In [ ]:
b.to_hdf('filtered_GB_en_descriptions.hdf5', key='all')

In [ ]:
b = new_df.merge(f, how='inner', on='item_no')

In [28]:
df.nunique()

item_no     6036
name        4596
summary     2247
benefits    3204
key_w       1395
dtype: int64

In [5]:
df = pd.read_hdf("filtered_GB_en_descriptions.hdf5")

In [29]:
index = 10
item_no = df['item_no'].iloc[0]
print(item_no)

10462236

In [31]:
start = time.time()
inp, target = no_to_name(df, index)
print("################# PROMPT TYPE 1 ########################")
print("INPUT:",inp)
print("")
print("")
print("TARGET:", target)
inp, target = name_to_no(df, index)
print("################# PROMPT TYPE 2 ########################")
print("INPUT:",inp)
print("")
print("")
print("TARGET:", target)
inp, target = is_description(df, index)
print("################# PROMPT TYPE 3 ########################")
print("INPUT:",inp)
print("")
print("")
print("TARGET:", target)
inp, target = is_summary(df, index)
print("################# PROMPT TYPE 4 ########################")
print("INPUT:",inp)
print("")
print("")
print("TARGET:", target)
inp, target = true_query(queries, item_no)
print("################# PROMPT TYPE 5 ########################")
print("INPUT:",inp)
print("")
print("")
print("TARGET:", target)
inp, target = query_rank(queries, item_no)
print("################# PROMPT TYPE 6 ########################")
print("INPUT:",inp)
print("")
print("")
print("TARGET:", target)
end = time.time()
print(f"It took {(end-start)*1e3} ms to generate prompts")

################# PROMPT TYPE 1 ########################
INPUT: if item_no is 90507924, what is the name? brogrund thermostatic bath shower mixer chrome plated, besta shelf unit with glass door oak effect glassvik white frosted glass, svaerdborg rug flatwoven handmade off white multicol


TARGET: svaerdborg rug flatwoven handmade off white multicolour
################# PROMPT TYPE 2 ########################
INPUT: if name is svaerdborg rug flatwoven handmade off white multicolour, what is the item_no? 29462444, 90507924, 59023


TARGET: 90507924
################# PROMPT TYPE 3 ########################
INPUT: the beauty is in the uniqueness - this rug is handwoven making it one of a kind.,the soft woven pebbles create a bold, chunky character.,each rug is unique with a variety of neutral-coloured yarns that have been added by hand into the weave.,this rug was made by skilled craftspeople with good working conditions and fair wages at organised weaving centres in india and bangladesh.,the rug is made of wool so it's naturally soil-repellent and very durable. ,a perfect companion for all types of flooring, even those with underfloor heating. . is the previous sentence a description of item_no 90507924. yes or no?


TARGET: yes
################# PROMPT TYPE 4 ########################
INPUT: cabinet. is the previous sentence a summary of item_no 90507924. yes or no?


TARGET: no
################# PROMPT TYPE 5 ########################
INPUT: query:'hemlagad '
does the query above return item_no 10462236 as a result. yes or no?


TARGET: yes
################# PROMPT TYPE 6 ########################
INPUT: query:'induction frying pans'
the query above returns item_no 10462236 as a result. what is its rank? 1, 4, 10, 8, 7


TARGET: 1
It took 1849.8172760009766 ms to generate prompts

In [ ]:
queries

In [ ]:
b

In [ ]:
n[n['item_no']=='00248567']

In [30]:
def add_or(s):
...  li = s.rsplit(', ', 10)
...  return ' or '.join(li)

def filter_query(q, item_no):
    f = (q['rank_1']==item_no)
    for j in range(2,11):
        f += (q[f'rank_{j}']==item_no)
    return f

def create_option_string(df, column, inds):
    options = ""
    for i in inds:
        options +=  f"{df[column].iloc[i]}, "
        
        #prune at the ends
        if i==inds[-1]:
            options = options[:-5]
    return options

def get_other_indices(index, size, num):
    """
    given a number {index}, returns {num} integers in range({size})
    """
    
    proceed = 0
    while proceed == 0:
        inds = np.random.choice(range(size), num)
        # check if any of the new indices is same as initial
        if (inds == index).any()==False:
            proceed = 1
        else:
            proceed = 0
    
    return inds


def no_to_name(df, index):
    
    # get random number of options
    num = np.random.randint(1, 4)
    
    # get random item index
    inds = get_other_indices(index, len(df), num)
    inds = np.append(inds, index)
    np.random.shuffle(inds)
    
    # get answer options
    options = create_option_string(df, 'name', inds)
    
    # create the input string
    inp = f"if item_no is {df['item_no'].iloc[index]}, what is the name? " + options
    
    
    # set the target
    target = df['name'].iloc[inds[np.argmin(inds-index)]]
    
    return inp.lower(), target.lower()

def name_to_no(df, index):
    
    # get random number of options
    num = np.random.randint(1, 4)
    
    # get random item index
    inds = get_other_indices(index, len(df), num)
    inds = np.append(inds, index)
    np.random.shuffle(inds)
    
    # get answer options
    options = create_option_string(df, 'item_no', inds)
    
    # get the input string
    inp = f"if name is {df['name'].iloc[index]}, what is the item_no? " + options
    
    # get the target
    target = df['item_no'].iloc[inds[np.argmin(inds-index)]]
    
    return inp.lower(), target.lower()

def is_description(df, index):
    
    is_true = np.random.randint(2)
    
    if is_true:
        desc = df['benefits'].iloc[index]
        target = "yes"
    else:
        tempdf = df[df['benefits']!=df['benefits'].iloc[index]]
        desc = np.random.choice(tempdf['benefits'])
        target = "no"
        
    # make sure ends with period    
    desc = desc if desc.endswith(".") else desc + "."
    
    # create input
    inp = desc + f" is the previous sentence a description of item_no {df['item_no'].iloc[index]}. yes or no?"
    
    return inp.lower(), target

def is_summary(df, index):
    
    is_true = np.random.randint(2)
    
    if is_true:
        desc = df['key_w'].iloc[index]
        target = "yes"
    else:
        tempdf = df[df['key_w']!=df['key_w'].iloc[index]]
        desc = np.random.choice(tempdf['key_w'])
        target = "no"
        
    # make sure ends with period    
    desc = desc if desc.endswith(".") else desc + "."
    
    # create input
    inp = desc + f" is the previous sentence a summary of item_no {df['item_no'].iloc[index]}. yes or no?"
    
    return inp.lower(), target

def true_query(query_df, item_no):
    
    is_true = np.random.randint(2)
    
    if is_true:
        queries = query_df[query_df.isin([item_no]).any(axis=1)]
        query = queries['clean_query'].sample().iloc[0]
        target = "yes"
    else:
        queries = query_df[(query_df.isin([item_no])==False).all(axis=1)]
        query = queries['clean_query'].sample().iloc[0]
        target = "no"

    
    # create input
    inp = "query:'" + query + f"'\ndoes the query above return item_no {item_no} as a result. yes or no?"
    
    return inp.lower(), target

def query_rank(query_df, item_no):
    
    # get queries that have item_no
    queries = query_df[query_df.isin([item_no]).any(axis=1)]
    
    # select random row
    row = queries.sample()
    
    # get query string
    query = row['clean_query'].iloc[0]
    
    # get rank of item_no
    cols = np.array(row.columns)
    inds = (row[row==item_no].isnull()==False).values[0]
    
    # get first true value, that is not 0 (queries can be for item_no) and
    # sometimes same item_no has multiple ranks
    if len(inds)>1:
        inds[0] = False
        rank = cols[np.argmax(inds)][-1]
    
    # in case rank is 10
    rank = '10' if rank=='0' else rank
    
    # create possible options
    n_options = np.random.randint(1, 5)
    
    options = list(np.arange(1, 11))
    options.remove(int(rank))
    
    options = np.append(np.random.choice(options, n_options).astype(str), rank)
    np.random.shuffle(options)
    
    # create input
    inp = "query:'" + query + f"'\nthe query above returns item_no {item_no} as a result. what is its rank? " + ', '.join(options)
    
    target = rank
    
    return inp.lower(), rank

In [12]:
options

NameError: name 'options' is not defined

In [ ]:
df.drop(labels = 'term_frequency_ranking', axis = 1, inplace=True)

In [ ]:
n['item_no'] = n['target_product_id'].copy()

In [ ]:
n['item_no'] = n['target_product_id'].apply(lambda x: re.sub("[^0-9]", "",str(x)).zfill(8))

In [ ]:
f = pd.DataFrame()

In [ ]:
f['item_no'] = pd.unique(queries[queries.columns[1:]].values.ravel('K'))

In [ ]:
prompts

In [ ]:
t.apply({'test':'test', 'testtest':"testtest"})

In [ ]:
raw_train_dataset['train']

In [ ]:
raw_train_dataset = load_dataset('super_glue', 'cb', split='train')
prompts = DatasetTemplates('super_glue', "cb")
template = prompts['consider always/sometimes/never']

column_names = raw_train_dataset.column_names
def preprocess_train(examples):
    bs = len(examples[column_names[0]])

    input_texts = []
    target_texts = []
    answer_choices_texts = []
    for i in range(10):
        ex = {
            k: examples[k][i]
            for k in column_names
        }
        input, target = template.apply(ex)
        ex_answer_choices = template.get_answer_choices_list(ex)
        assert target in ex_answer_choices
        input_texts.append(input)
        target_texts.append(target)
        answer_choices_texts.append(ex_answer_choices)
    return input_texts, target_texts, answer_choices_texts

i, t, a = preprocess_train(raw_train_dataset)
for j in range(10):
    print("%r"%i[j])
    print("%r"%t[j])
    print("%r"%a[j])
    print("********************")

In [ ]:
# get queries that have item_no
qs = queries[queries.isin([item_no]).any(axis=1)]

# select random row
row = qs.sample()

# get query string
query = queries['clean_query']

# get rank of item_no
cols = np.array(row.columns)
inds = (row[row==item_no].isnull()==False).values[0]

In [ ]:
item_no

In [ ]:
row

In [ ]:
inds

In [ ]:
item_no